<div class="container content" >
  <div class="index">
    <%= link_to icon('fas', 'plus'), new_admin_room_path, class:"btn btn-info btn-floating", id: "spacing2"%>
  </div>

  <table class="responsive nowrap table table-hover" id="rooms-datatable" style="width:100%" data-source="<%= datatable_admin_rooms_path(format: :json) %>">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th data-orderable="false" data-searchable="false"></th>
        <th data-orderable="false" data-searchable="false"></th>
        <th data-orderable="false" data-searchable="false"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
