.form-shadow {
  width: 40%;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  border: 1px solid grey;
  box-shadow: 0 0 5px grey;
  
  .btn {
    width: 100%;
    border-radius: 10px;
  }
}

.admin-form {
  width: 50%;
  margin: auto;
  margin-top: 20px;

  .form-header {
    text-transform: uppercase;
    text-align: center;
  }
}

