<div class="container">
 <div class="index">
    <%= link_to "<", admin_users_path, class:"btn btn-info", id: "pback", method: :get %>
  </div>

  <div class="admin-form">
    <h2 class="form-header">Update user</h2>
    <%= render 'user_form' %>
  </div>
</div>
