<!DOCTYPE html>
<html lang="en">

<head>
    <title>Room chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
    @media only screen and (max-width: 480px) {
        .media {
            padding-right: 0;
            padding-left: 0;
        }
    }
    @media only screen and (min-width: 481px) {
        .media {
            padding-right: 15%;
            padding-left: 15%;
        }
    }
    </style>
</head>

<body>
    <div class="container" style="overflow-y: scroll;height: 400px;
margin-top: 5%;">
        <div class="media" >
            <div class="media-left">
                <img src="img_avatar1.png" class="media-object" style="width: 85px;height: 85px;border: 4px solid #bca6a666;border-radius: 50%;overflow: hidden;">
            </div>
            <div class="media-body" style="background-color: #f0f0f0b3;border: 1px solid #ffeded;padding: 1%;">
                <h5 class="media-heading" style="font-weight: bold;color: #686880;">Nick Name</h5>
                <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                </p>
            </div>
        </div>

        <div class="media" >
            <div class="media-left">
                <img src="img_avatar1.png" class="media-object" style="width: 85px;height: 85px;border: 4px solid #bca6a666;border-radius: 50%;overflow: hidden;">
            </div>
            <div class="media-body" style="background-color: #f0f0f0b3;border: 1px solid #ffeded;padding: 1%;">
                <h5 class="media-heading" style="font-weight: bold;color: #686880;">Nick Name</h5>
                <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
            </div>
        </div>

        <div class="media" >
            <div class="media-left">
                <img src="img_avatar1.png" class="media-object" style="width: 85px;height: 85px;border: 4px solid #bca6a666;border-radius: 50%;overflow: hidden;">
            </div>
            <div class="media-body" style="background-color: #f0f0f0b3;border: 1px solid #ffeded;padding: 1%;">
                <h5 class="media-heading" style="font-weight: bold;color: #686880;">Nick Name</h5>
                <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
            </div>
        </div>

        <div class="media" >
            <div class="media-left">
                <img src="img_avatar1.png" class="media-object" style="width: 85px;height: 85px;border: 4px solid #bca6a666;border-radius: 50%;overflow: hidden;">
            </div>
            <div class="media-body" style="background-color: #f0f0f0b3;border: 1px solid #ffeded;padding: 1%;">
                <h5 class="media-heading" style="font-weight: bold;color: #686880;">Nick Name</h5>
                <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
            </div>
        </div>

        <div class="media" >
            <div class="media-left">
                <img src="img_avatar1.png" class="media-object" style="width: 85px;height: 85px;border: 4px solid #bca6a666;border-radius: 50%;overflow: hidden;">
            </div>
            <div class="media-body" style="background-color: #f0f0f0b3;border: 1px solid #ffeded;padding: 1%;">
                <h5 class="media-heading" style="font-weight: bold;color: #686880;">Nick Name</h5>
                <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
            </div>
        </div>

        <div class="media" >
            <div class="media-left">
                <img src="img_avatar1.png" class="media-object" style="width: 85px;height: 85px;border: 4px solid #bca6a666;border-radius: 50%;overflow: hidden;">
            </div>
            <div class="media-body" style="background-color: #f0f0f0b3;border: 1px solid #ffeded;padding: 1%;">
                <h5 class="media-heading" style="font-weight: bold;color: #686880;">Nick Name</h5>
                <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
            </div>
        </div>

        <div class="media" >
            <div class="media-left">
                <img src="img_avatar1.png" class="media-object" style="width: 85px;height: 85px;border: 4px solid #bca6a666;border-radius: 50%;overflow: hidden;">
            </div>
            <div class="media-body" style="background-color: #f0f0f0b3;border: 1px solid #ffeded;padding: 1%;">
                <h5 class="media-heading" style="font-weight: bold;color: #686880;">Nick Name</h5>
                <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
            </div>
        </div>

        <div class="media" >
            <div class="media-left">
                <img src="img_avatar1.png" class="media-object" style="width: 85px;height: 85px;border: 4px solid #bca6a666;border-radius: 50%;overflow: hidden;">
            </div>
            <div class="media-body" style="background-color: #f0f0f0b3;border: 1px solid #ffeded;padding: 1%;">
                <h5 class="media-heading" style="font-weight: bold;color: #686880;">Nick Name</h5>
                <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
            </div>
        </div>

        <div class="media" >
            <div class="media-left">
                <img src="img_avatar1.png" class="media-object" style="width: 85px;height: 85px;border: 4px solid #bca6a666;border-radius: 50%;overflow: hidden;">
            </div>
            <div class="media-body" style="background-color: #f0f0f0b3;border: 1px solid #ffeded;padding: 1%;">
                <h5 class="media-heading" style="font-weight: bold;color: #686880;">Nick Name</h5>
                <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
            </div>
        </div>

        <div class="media" >
            <div class="media-left">
                <img src="img_avatar1.png" class="media-object" style="width: 85px;height: 85px;border: 4px solid #bca6a666;border-radius: 50%;overflow: hidden;">
            </div>
            <div class="media-body" style="background-color: #f0f0f0b3;border: 1px solid #ffeded;padding: 1%;">
                <h5 class="media-heading" style="font-weight: bold;color: #686880;">Nick Name</h5>
                <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
            </div>
        </div>

        <div class="media" >
            <div class="media-left">
                <img src="img_avatar1.png" class="media-object" style="width: 85px;height: 85px;border: 4px solid #bca6a666;border-radius: 50%;overflow: hidden;">
            </div>
            <div class="media-body" style="background-color: #f0f0f0b3;border: 1px solid #ffeded;padding: 1%;">
                <h5 class="media-heading" style="font-weight: bold;color: #686880;">Nick Name</h5>
                <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
            </div>
        </div>

        <div class="media" >
            <div class="media-left">
                <img src="img_avatar1.png" class="media-object" style="width: 85px;height: 85px;border: 4px solid #bca6a666;border-radius: 50%;overflow: hidden;">
            </div>
            <div class="media-body" style="background-color: #f0f0f0b3;border: 1px solid #ffeded;padding: 1%;">
                <h5 class="media-heading" style="font-weight: bold;color: #686880;">Nick Name</h5>
                <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
            </div>
        </div>

         <div class="media" >
            <div class="media-left">
                <img src="img_avatar1.png" class="media-object" style="width: 85px;height: 85px;border: 4px solid #bca6a666;border-radius: 50%;overflow: hidden;">
            </div>
            <div class="media-body" style="background-color: #f0f0f0b3;border: 1px solid #ffeded;padding: 1%;">
                <h5 class="media-heading" style="font-weight: bold;color: #686880;">Nick Name</h5>
                <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
            </div>
        </div>

    </div>
</body>

</html>
